nav ul{
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.container{
display: grid;
grid-template-rows: repeat(3, 10vw);
grid-template-columns: repeat(3, 10vw);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;

}
.bb-0{
    border-bottom: 0;
}


}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    background-color:plum;
}
.info{
    font-size: 22px;
}
.gameInfo{
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;

}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background-color: #f3e7f9;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 6px;
}
